<html>
<h1>Create a new bot</h1>
<h5>Step 2: Register a new bot with GroupMe</h5>
<br/>
<p>1. Go to dev.groupme.com/bots and log in with your standard GroupMe account</p>
<p>2. Click "Create Bot"</p>
<p>3. Select the group your bot will go in</p>
<p>4. (Optional) If you want your bot to have a custom avatar, right-click (Long Press on Mobile) on any image (from Google, GroupMe, etc.) and click "Copy image URL". Paste this into Avatar URL.</p>
<p>5. Put this URL as the callback URL. This will allow anyone in the group to type "/bot" to get information about the bot.</p>
<p>6. Finish the bot creation. Copy the bot ID in the space below:</p>
<br/>
<div>
<button>Next</button>
</html>