<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="styles.css">
	<title>GroupMe scheduling service</title>
	<meta charset="UTF-8">
	<meta name="description" content="Tool for scheduling messages on GroupMe">
	<meta name="keywords" content="GroupMe,message,schedule,scheduler,bot,free,service">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div id="MainBody">
<h1>Schmessage</h1>
<p>Type your message</p>
<textarea id="toSend" rows="5" cols="50" placeholder="Type your message here (max 1000 characters)..."></textarea>
<p id="ErrorLocation"></p>
<p id="SuccessLocation"></p>
<button onclick="anonSend()">Send Message!</button>
<script type="text/javascript" src="webscripts.js"></script>
</div>
</body>
</html>
