<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="styles.css">
	<title>GroupMe scheduling service</title>
	<meta charset="UTF-8">
	<meta name="description" content="Tool for scheduling messages on GroupMe">
	<meta name="keywords" content="GroupMe,message,schedule,scheduler,bot,free,service">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div id="MainBody">
<h1>Schmessage Faqs</h1>
<p id="Description">A service for <b>Sch</b>eduling <b>message</b>s for later on GroupMe</p>
<br/>
<a href="https://www.schmessage.com">Back to the main site</a>
<h3>What is this?</h3>
<p>It's a simple service for scheduling messages to be sent later on GroupMe</p>
<br/>

<h3>What is it for?</h3>
<p>It's for lots of things!</p>
<p>Want to be sure to tell your friend happy birthday but don't want to forget? Schedule it a week in advance!</p>
<p>Want to send a good morning message to all your buddies? Schedule a message for 9am! Or... Whenever you think morning is. </p>
<p>Want to send out a reminder but are afraid you'll forget yourself? Schedule it before you forget! </p>
<p>Want to send a ton of information at once but don't want people interrupting while you're typing out the next part of the info? Schedule all of them for the same time so they all send at once!</p>
<p>Up at 3am and want to send something in a chat, but don't want to wake people up? Schedule it for morning!</p>
<br/>

<h3>How does it work?</h3>
<p>It's fairly simple! Just go to schmessage.com, log in with GroupMe using the link at the top of the page, select a chat or DM, then select a date and time for your message, type your message, and, if you want, add an image!</p>
<br/>

<h3>Okay, but how does it WORK?</h3>
<a href="https://github.com/2CATteam/gmschedulerbot">If you want to see the source code, check it out here!</a>
<br/>

<h3>Can I cancel a message?</h3>
<p>Yep! If you have any scheduled messages, they should appear under the form to make one, as well as a button for each to cancel. If you don't see a message there, it's probably not going to be sent, but if it's something of major importance, feel free to contact me and I can check! My email address is below.</p>
<br/>

<h3>Is there any limit to how many I can schedule?</h3>
<p>Nope! That said, if you schedule 1000 messages at once, I can't guarantee all of them will send. It's not magic, after all, and the server may get overwhelmed.</p>
<br/>

<h3>Is there a limit to how far in advance I can schedule a message?</h3>
<p>Well... No, but don't count on anything scheduled for more than a year out to be dependable. This service is just a hobby of mine, and I'm probably not going to keep it up forever.</p>
<br/>

<h3>My messages disappeared. What happened?</h3>
<p>Many things can cause this to happen If your message was scheduled before May 29, 2020, it may have been lost due to a data loss Schmessage suffered on that day.</p>
<p>In addition, if your GroupMe password has changed, you'll need to re-schedule all your messages, due to the way GroupMe handles expired tokens.</p>

<h3>Why don't I see a chat/person available in the list?</h3>
<p>Due to GroupMe API limitations (i.e. something I can't change), only 100 groups/DMs can be shown, which are displayed in order of which chat has the most recent messages.</p>
<br/>

<h3>When I click on the log in link, it doesn't do anything!</h3>
<p>Sometimes browsers don't handle change all that well - try refreshing the page, clicking the link again, or waiting a few minutes and trying again. If none of that works, send me an email! My address is below.</p>
<br/>

<h3>Are there any plans to bring this service to any other platforms?</h3>
<p>Not at the moment, but it's possible! If you really want some platform or the other, email me! My address is below.<br/><br/>
One platform I know I can't expand to is Discord. Due to the developer agreement, sending messages as a user is against the ToS.</p>
<br/>

<h3>Why are images disabled in DMs?</h3>
<p>I don't actually know! It seems to be on GroupMe's end rather than mine, in that trying to send an image from third-party services in a DM channel fails (Likely as a spam prevention method). Disabling it here simply reflects that.</p>
<br/>

<h3>Why do the date and time pickers look different in different browsers? Why is it so strange to input on Mac?</h3>
<p>The site uses date and time input from HTML5. What that means is that I tell your browser (Chrome, Firefox, Safari, IE) to put a date and time picker there, and it's up to the browser to actually put it there. Different browsers make it look different. In the case of Safari on a Mac, it decides to make it look like a basic text box asking for a specific format. Unfortunately, this is on Apple's end, not mine, so I can't make it easier to use.</p>
<br/>

<h3>What data do you collect, and how do you use it? Do you sell user data?</h3>
<p>First off, Schmessage never sees your GroupMe username or password, as the site uses GroupMe's OAuth tool, which provides Schmessage with the ability to see what groups you're in and send messages when told to, while leaving security to GroupMe.<br/><br/>
Other than your token, the site only collects the form data you explicitly provide - the chat or DM you want to send a message to, the date and time your message should be sent, the text you're sending, and any image you're sending.<br/><br/>
All of this data, including your token, is stored until the message is sent, and then it is immediately deleted. We do not keep it for logs, and we do not sell any data.<br/><br/>
As a result, if you want to exercise your right to be forgotten, doing so is as simple as canceling any messages that have not yet sent. For any previously sent messages, the data is already gone from our servers.</p>
<br/>

<h3>If you don't sell user data, and you don't have ads, how do you make money?</h3>
<p>I actually don't! I made this for fun, and I keep it going because it's relatively cheap, fun, and cool to show to people when they ask what I do. Maybe someday it'll be shut down, but until then, I'm keeping it running at my own expense.</p>
<br/>

<h3>I have a problem/question/suggestion! How can I contact you?</h3>
<p>Feel free to send me an email at 2CATteam@gmail.com!</p>
<br/>

</div>
</body>
</html>
