<div class="dateSelectorWrapper p-4">
	<link rel="stylesheet" type="text/css" href="hci.css">
	<p class="firstLabel text-center" style="display: none;">First Message:</p>
	<div class="firstDateTimeContainer row">
		<div class="calendarColumn col-md container-md">
		</div>
		<div class="timeColumn col-md container-md d-flex flex-column">
		</div>
	</div>
	<label class="repeatSelect text-center my-3" style="width: 100%;display: none !important;">Repeat Mode:<br/>
		<select class="repeatTypeSelect form-select">
			<option value="single" selected>Single</option>
			<option value="interval">Interval</option>
			<option value="days">Weekday</option>
			<option value="multiple">Multiple Dates</option>
		</select>
	</label>
	<div class="settingsColumn row" style="display: none !important;">
		<div class="calendarColumn2 col-md container-md hidden" style="display: none;">
			<p class="text-center">Until (inclusive):</p>
		</div>
		<div class="singleSettings col-md">
			<p class="text-center">No additional options</p>
		</div>
		<div class="intervalSettings d-flex flex-column col-md hidden" style="display: none;">
			<p class="text-center">Repeat every:</p>
			<div class="row">
				<input type="number" class="intervalNumber form-control me-1 col" style="width: 10px;" min="1" value="1" step="1">
				<select class="intervalUnit form-select form-inline col" style="width: 10px;">
					<option value="days" selected>Day(s)</option>
					<option value="weeks">Week(s)</option>
					<option value="months">Month(s)</option>
				</select>
			</div>
		</div>
		<div class="daysSettings col-md d-flex flex-column hidden" style="display: none;">
			<p class="text-center my-0">Send on:</p>
			<label class="form-check-label">
				<input class="form-check-input" type="checkbox" value="sunday">
				Sunday
			</label>
			<label class="form-check-label">
				<input class="form-check-input" type="checkbox" value="monday">
				Monday
			</label>
			<label class="form-check-label">
				<input class="form-check-input" type="checkbox" value="tuesday">
				Tuesday
			</label>
			<label class="form-check-label">
				<input class="form-check-input" type="checkbox" value="wednesday">
				Wednesday
			</label>
			<label class="form-check-label">
				<input class="form-check-input" type="checkbox" value="thursday">
				Thursday
			</label>
			</label>
			<label class="form-check-label">
				<input class="form-check-input" type="checkbox" value="friday">
				Friday
			</label>
			<label class="form-check-label">
				<input class="form-check-input" type="checkbox" value="saturday">
				Saturday
			</label>
			<br/>
			<p class="text-center my-0">Filter by week:</p>
			<select class="intervalFilter form-select">
				<option value="all" selected>Every week</option>
				<option value="alternating">Every other week</option>
				<option value="nth" class="weekNumber">Nth instance in each month</option>
				<option value="last" class="lastOption hidden">Last of each month</option>
			</select>
		</div>
		<div class="multipleSettings col-md d-flex flex-column hidden" style="display: none !important;">
			<p>Select multiple days on the calendar above</p>
		</div>
	</div>
	<button class="showHideRepeat row btn btn-light animationFixer">Show repeat options</button>
</div>