.calendarColumn, .calendarColumn2, .timeColumn {
	max-width: 280px;
	min-width: 230px;
}

.equalWidth {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0;
}

.silentButton {
	border: none;
	background: none;
	padding: 0;
}

.greyButton {
	color: #AAA;
}

.disabledButton {
	background-color: #EEE;
}

.buttonSelected {
	background: #0075FF !important;
	color: white; 
}

.dateSelectorWrapper {
	display: inline-block;
	border: 2px solid LightGray;
}

.hoursButton, .minuteButton, .amPmButton {
	height: 100%;
}

.clocksWrapper {
	width: 100%;
	aspect-ratio: 1 / 1;
	position: relative;
}

.hoursClockWrapper, .minutesClockWrapper {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.col-md.hidden, option.hidden, .settingsColumn.hidden, .repeatSelect.hidden {
	display: none !important;
}

.historyButton {
	background-color: #DDFFDD;
}

.showHideRepeat {
	width: 100%;
	margin: 1rem 0 0 0 !important;
	background-color: #EEE !important;
	border-color: #EEE !important;
}

.animationFixer.showHideRepeat {
	margin-top: 3rem !important;
}