<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/legacyStyles.css">
	<title>GroupMe scheduling service</title>
	<meta charset="UTF-8">
	<meta name="description" content="Tool for scheduling messages on GroupMe">
	<meta name="keywords" content="GroupMe,message,schedule,scheduler,bot,free,service">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
<div id="MainBody">
<h1>Schmessage</h1>
<p id="Description">A service for <b>Sch</b>eduling <b>message</b>s for later on GroupMe</p>

<p>Step 1. Authenticate with GroupMe</p>
<p id="completionLocation"> </p>
<div class="StupidADiv">
<a href="https://oauth.groupme.com/oauth/authorize?client_id=luw9ypnUkypAl8u4ouSQrtXggeEW2ZZjdyXtLekXYnZbGFZF">Click here to log in with GroupMe!</a>
<br/>
<button id="logOut" hidden>Log out</button>
</div>
<br/>

<p>Step 2. Select the chat or DM to send the message to</p>
<input id="chatButton" class="buttons" type="radio" name="messageType" value="chat" checked>
<label for="chatButton">Schedule a message for a chat</label><br>
<select id="Select" disabled>
	<option id="placeholderOption" value="Invalid">-Please log in first-</option>
</select>
<br>
<input id="dmButton" class="buttons" type="radio" name="messageType" value="dm">
<label for="dmButton">Schedule a DM (Images disabled)</label><br>
<select id="dmSelect" disabled>
        <option id="dmPlaceholderOption" value="Invalid">-Please log in first-</option>
</select>
<br/>

<p>Step 3. Select when to send the message. (Note: If you schedule multiple messages in one chat for a single time, they will be sent in the order they are submitted.)</p>
<div class="DateTimeDiv">
<p class="DateTimeText">Date:  </p><input type="date" id="date" placeholder="yyyy-mm-dd" disabled>
</div>
<div class="DateTimeDiv">
<p class="DateTimeText">Time:  </p><input type="time" id="time" placeholder="hh:mm (24-hour format)" disabled>
</div>
<br/>

<p>Step 4. Type your message and (optionally) add an image (Max size 8MB)!</p>
<input type="checkbox" id="shouldClear" name="shouldClear" checked><label for="shouldClear"> Clear message after submitting (Uncheck for faster repeated messages)</label>
<textarea disabled id="toSend" rows="5" cols="50" placeholder="Type your message here (max 1000 characters)..."></textarea><br/>
<input type="file" id="image" accept="image/jpeg,image/png,image/gif" disabled/>
<p id="ErrorLocation"></p>
<p id="SuccessLocation"></p>
<button id="SubmitButton" onclick="submit()">Schedule Message!</button>

<h3 id="messagesLabel" hidden>Previously Scheduled Messages:</h3>
<div id="scheduled"></div>

<br/>
<div class="StupidADiv">
<a href="faq">Have a question? It may be answered here!</a><br/>
<a href="list">Check out my other tools!</a>
</div>

<script type="text/javascript" src="/legacyScripts.js"></script>
</div>
</body>
</html>
