<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="styles.css">
	<title>GroupMe scheduling service</title>
	<meta charset="UTF-8">
	<meta name="description" content="Tool for scheduling messages on GroupMe">
	<meta name="keywords" content="GroupMe,message,schedule,scheduler,bot,free,service">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div id="MainBody">
<h1>Schmessage</h1>
<p>Type your message</p>
<textarea id="toSend" rows="5" cols="50" placeholder="Type your message here (max 1000 characters)..."></textarea>
<p id="ErrorLocation"></p>
<p id="SuccessLocation"></p>
<button onclick="anonSend()">Send Message!</button>
<script type="text/javascript">
function anonSend()
{
        const toSendText = document.getElementById("toSend").value;
        document.getElementById("toSend").value = "";
        const address = "https://api.groupme.com/v3/bots/post";
        var request = new XMLHttpRequest();
        request.open("POST", address);
        request.setRequestHeader('Content-Type', 'application/json');
        const toSend = JSON.stringify({
                bot_id: "908d0cb4faa001e8c6abb3096e",
                text: toSendText
        });
        request.send(toSend);
}
</script>
</div>
</body>
</html>
