<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="styles.css">
	<title>GroupMe scheduling service</title>
	<meta charset="UTF-8">
	<meta name="description" content="Tool for scheduling messages on GroupMe">
	<meta name="keywords" content="GroupMe,message,schedule,scheduler,bot,free,service">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div id="MainBody">

<h1>5/29/2020 Data Loss</h1>
<br/>
<a href="https://www.schmessage.com">Back to the main site</a>

<p>
At some point on 5/29/20, Schmessage encountered an error and crashed. At this exact same time, the site was writing to its backup file. The result was that Schmessage lost all of its scheduled messages up to that point.<br/><br/>
When I checked the status of the site later that night and saw it was down, I immediately got to work trying to recover as many messages as possible. As far as I can tell, I was able to recover the vast majority of the messages set to be sent within the next week. Unfortunately, that does not mean everything.<br/><br/>
<br/>If you were affected by this data loss, let me start by saying that I deeply apologize. I've had the pleasure of talking to many of my users, and I know from those conversations that many of you depend on Schmessage for clubs, small groups, and even jobs. To say that this data loss may have inconvenienced you is a gross understatement. <br/><br/>
All that said, please <strong>check your scheduled messages</strong> and re-schedule any important messages that have been cleared. If you had any messages set to send when this loss ocurred, please check and see if it sent.<br/><br/>
For users concerned about privacy, rest assured that <strong>this was a data loss, not a data breach</strong>. The server logs show no sign of anything resembling user data being stolen or changed. That said, if you DO see anything out of the ordinary on your GroupMe account, immediately change your password and enable two-step authentication for added security.<br/><br/>
<br/>In order to make sure this does not happen again, Schmessage will be undergoing two major backend changes over the next week or two. None of this should affect what you see or how you use the site, but I feel it's important to show everything I'm doing in response to this.<br/><br/>
The first major change is going to be how messages are stored. Schmessage was initially created as a small site for use by myself and a few other people, and the storage mechanisms reflect that. Schmessage is no longer quite as small. Over the next week, Schmessage will migrate to a proper database structure with integrated backups to make sure that, if it does ever experience a similar crash, it's easy to restore everything it needs to.<br/><br/>
The second major change will be deploying automated monitoring tools. Rather than waiting for me to check on the site as I try to do daily, which left the potential for long periods of time with the site down, this software will immediately notify me as soon as any problem is detected so I can immediately fix any problem before any real damage can occur.<br/><br/>
<strong>Update 6/3/20:</strong> These changes have now been implemented, along with a small change to help users who schedule the same message multiple times. As with every change, if you notice any problems with this change, please let me know!<br/><br/>
<br/>I'd like to reiterate that I am truly sorry that this data loss took place. I know my users expect this site to just work, without them having to think about it, and I always try to deliver that, but at the end of the day, I'm still just one person, who can make mistakes, sometimes even as big as this one.<br/><br/>
As always, if you have any questions or comments, please send me an email at 2CATteam@gmail.com
</p>

</div>
</body>
</html>

