* {
	font-family: Arial;
	font-size: 1em;
}

span {
	font-weight: bold;
}

.buttons {
	margin: 0 0 10px 0;
}

h1 {
	font-size: 2em;
	text-align: center;
}

#Description {
	font-size: 1em;
	text-align: center;
}

.StupidADiv {
	text-align: center;
}

body {
	background-color: DeepSkyBlue;
}

#TableDiv {
	width: 100%;
	overflow: auto;
	padding: 10px;
}

#TableDiv2 {
	width: 100%;
	overflow: auto;
	padding: 10px;
}

#GraphDiv {
	background-color: white;
}

table {
	width: 100%;
	overflow: auto;
	border-collapse: collapse;
}

.tableGraph {
	background-color: white;
}

#MainBody {
	margin: 25px 5% 25px 5%;
	padding: 25px 5% 25px 5%;
	border: 1px solid #008ccc;
	border-radius: 30px;
	background-color: white;
	max-width: 1200px;
}

@media only screen and (min-width: 1000px)
{
	#MainBody {
		margin: 25px 15% 25px 15%;
		padding: 25px 40px 25px 40px;
		border-radius: 30px;
		background-color: white;
	}
}

@media only screen and (min-width: 1500px)
{
	#MainBody {
		margin: 25px 20% 25px 20%;
		padding: 25px 40px 25px 40px;
		border-radius: 30px;
		background-color: white;
	}
}

#toSend {
	max-width: 100%;
}

#completionLocation {
	text-align: center;
	color: green;
}

#ErrorLocation {
	text-align: center;
	color: red;
}

#SuccessLocation {
	text-align: center;
	color: green;
}

.subDiv {
	border-radius: 10px;
	padding: 0 5% 1.25em 5%;
}

.DateTimeDiv {
	display: flex;
}

.DateTimeText {
	line-height: 0;
	width: 60px;
}

.SortByText {
	line-height: 0;
	width: 140px;
}

#Nicknames {
	font-size: 16px;
	line-height: 1;
}

#Graph {
	width: 100%;
}

#GraphDiv {
	padding: 10px;
}

.smallText {
	font-size: 1em;
}

#dateSelectorContainer {
	display: flex;
	justify-content: center;
	align-items: center
}

.calendarContainer {
	min-width: 230px;
	max-width: 280px;
	padding-right: calc(var(--bs-gutter-x)/ 2);
	padding-left: calc(var(--bs-gutter-x)/ 2);
}

img {
	max-width: 100%;
	max-height: 100%;
	width: min(75%, 250px);
	height: auto;
	margin-left: max(12.5%, calc(50% - 125px));
	margin-right: max(12.5%, calc(50% - 125px));
}

@media only screen and (min-width: 768px)
{
	.cardLeftCol {
		border-right: 1px solid lightgray;
	}
}