<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="styles.css">
	<title>GroupMe Tools</title>
	<meta charset="UTF-8">
	<meta name="description" content="Various tools I've made over the years">
	<meta name="keywords" content="GroupMe,message,schedule,scheduler,bot,free,service">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div id="MainBody">
<div class="StupidADiv">
<br/>
<a href="https://www.schmessage.com/">GroupMe message scheduler</a><br/><br/>
<a href="https://www.schmessage.com/summary">Chat summary tool</a>
<br/>
</div>
</div>
</body>
</html>
