<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../styles.css">
	<title>GroupMe vibe checker</title>
	<meta charset="UTF-8">
	<meta name="description" content="Tool for measuring positivity on GroupMe">
	<meta name="keywords" content="GroupMe,message,schedule,scheduler,bot,free,service,summary,vibe,sentiment,afinn">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.bundle.min.js"></script>
	<script type="text/javascript" src="../afinn.js"></script>
	<script type="text/javascript" src="../vibescripts.js"></script>
</head>
<body>
<div id="MainBody">
<h1>GroupMe Chat Positivity Report</h1>
<p id="Description">See how positive your GroupMe chats are.</p>

<p>Step 1. Authenticate with GroupMe</p>
<p id="completionLocation"> </p>
<div class="StupidADiv">
<a href="https://oauth.groupme.com/oauth/authorize?client_id=vqayyfiMIItz85NT7WofSXzn18qgmqzOuTctsGK3sB3fwTys">Click here to log in with GroupMe!</a>
</div>
<br/>

<p>Step 2. Select the chat to analyze</p>
<select id="Select" disabled>
	<option id="placeholderOption" value="Invalid">-Please log in first-</option>
</select>
<br>

<button id="Submit" disabled>Begin analysis!</button>

<p id="ErrorLocation"></p>
<p id="ProgressLocation"></p>
<p>Your chat's information will be shown below once it is fetched. Once it loads, click on users for more info!</p>

<p class="SortByText">Sort by:</p>
<select id="SortBy">
	<option value="name">Name</option>
	<option value="sent">Messages Sent</option>
	<option value="totalScore">Positivity</option>
	<option value="final">Avg. Positivity</option>
</select>
<select id="Direction">
	<option value=-1>Descending</option>
	<option value=1>Ascending</option>
</select>

<div id="TableDiv">
<table>
	<tr class="tableHead">
		<th>Name</th>
		<th>Messages<br/>sent</th>
		<th>Positivity<br/>score</th>
		<th>Average<br/>Positivity</th>
	</tr>
</table>
<br/>
<br/>
<p class="smallText">This tool checks messages against the AFINN-165 word list to measure whether someone tends to be more positive or more negative. The scores assigned are not meant as a value judgement or a ranking or anything like that; all they show is a measure of whether someone uses language that is generally more positive or negative. Moreover, it may be limited in how it interprets some phrases, especially ones that include profanity.</p>
<br/>
<div class="StupidADiv">
	<a href="/list">Check out my other tools!</a>
</div>
</div>

</div>
</body>
</html>
